save-exact=true
legacy-peer-deps=true

public-hoist-pattern[]=secure-password
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=@blitzjs/*
public-hoist-pattern[]=blitz
